body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
 margin-bottom: 100px;
}

/* 追加 */

.center-placement {
  display: flex;
  justify-content: center;
}

.form-element--title,
.form-element--username,
.form-element--password {
  width: 100%;
  height: 25px;
}

.red {
  color: crimson;
}

.nav-font {
  color: white;
}

/* フッター */
.footer-font {
  color: white;
}



/* Likeボタン */
.like-button-wrapper {
  &::before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    will-change: background-color;
    transition: background-color 0.3s, transform 0.3s;
    background-color: $dark;
    box-shadow: 0 0 10px $darkLower;
    border-radius: 8px;
  }
  
  &.liked {
    &::before {
      background-color: $primary;
    }
  }
  
  .suffix {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    transform: translateX(15px);

    &.liked {
      opacity: 1;
      transform: translateX(0);
    }
  }
}